<header>
  <nav>
    <a href="/">LN BOOK4U</a>
    <ul>
      <li><a href="/author">Author</a></li>
      <li><a href="/author/new">Add Author</a></li>
      <li><a href="/book">Book</a></li>
      <li><a href="/book/new">Add book</a></li>
    </ul>
  </nav>
</header>
